@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    color: #777;
    font-family: theme(fontFamily.body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme(fontFamily.libre);
    line-height: 1.2;
    font-weight: 700;
    color: theme(colors.lunar-green.DEFAULT);
  }
  h1 {
    font-size: theme(fontSize.4xl);
  }
  h2 {
    font-size: theme(fontSize.3xl);
  }
  h3 {
    font-size: theme(fontSize.2xl);
  }
  h4 {
    font-size: theme(fontSize.xl);
  }
  h5 {
    font-size: theme(fontSize.lg);
  }
  /* sticky footers start */
  #root {
    @apply min-h-screen flex flex-col;
  }
  #root > header,
  #root > footer {
    @apply flex-grow-0 flex-shrink-0;
  }
  #root > main {
    @apply flex-grow;
  }
  /* sticky footers end */
}
@layer components {
  @media (min-width: theme(screens.sm)) {
    .container {
      max-width: 33.75rem;
    }
  }
  @media (min-width: theme(screens.md)) {
    .container {
      max-width: 45rem;
    }
  }
  @media (min-width: theme(screens.lg)) {
    .container {
      max-width: 60rem;
    }
  }
  @media (min-width: theme(screens.xl)) {
    .container {
      max-width: 71.25rem;
    }
  }
  @media (min-width: theme(screens.2xl)) {
    .container {
      max-width: 82.5rem;
    }
  }
}
