@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    color: #777;
    font-family: theme(fontFamily.body);
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme(fontFamily.libre);
    line-height: 1.2;
    font-weight: 700;
    color: theme(colors.lunar-green.DEFAULT);
  }

  /* sticky footers start */
  #root {
    @apply min-h-screen flex flex-col;
  }
  #root > header,
  #root > footer {
    @apply flex-grow-0 flex-shrink-0;
  }
  #root > main {
    @apply flex-grow;
  }
  /* sticky footers end */
}
